.sort-component {
    padding-bottom: 5px;

    .label-content {
        font-size: 17px;
        text-decoration: underline;
    }
    
    .sort-component-group-buttons {
        padding-left: 10px;

        .sort-button {
            padding: 0px;
        }
    }

    
}
